*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    /* font-family: 'Open Sans', sans-serif; */
    
}
#gradient1{
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
z-index: -1;
}
.ourSchemesh1{
  display:flex;
  align-items: center;
  justify-content: center;
}

body{
  background-color: rgba(206, 200, 200, 0.616);
}

.main{
    display: flex;
    justify-content: space-evenly;
}

.card{
    border-color: rgba(7, 7, 132, 0.909);
    box-shadow: 5px 5px 10px rgba(6, 6, 141, 0.909);
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
}


.cart{
    display:flex;
}

.cart .cart-icon{
    font-size:2.5rem;
    color: white;
    margin-left: 15px;
}

.cart p{
    margin-top:20px;
    font-weight:500;
    color: white;
}
.add-to-cart {
   /* background-color: rgb(89, 95, 246);
    border-radius: 12px;
    border: 2px solid #ab3b9a;*/
    transition-duration: 0.4s;
    border-radius: 5px;

}
.add-to-cart:hover{
    background-color: rgb(35, 35, 36); 
    color: white;
}
.textbold{
    font-weight: bold;
}
.rohit{
    border-color: rgb(16, 16, 118);
    box-shadow: 5px 5px 10px rgb(5, 5, 142);
}
 
/* profile css */

  .signup-container {
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    border-radius: 5px;
    border-color: rgb(27, 27, 212);
    box-shadow: 5px 5px 10px rgba(33, 65, 243, 0.941);
    width: 300px;
    text-align: center;
  }

  .signup-container h2 {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: auto;
  }

  .form-group button {
    background-color: #30353a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }

  .google-signup-button {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }

  #x {
    border-color: rgb(53, 53, 67);
    box-shadow: 5px 5px 10px rgb(53, 53, 54);
  }
  .google-signup-button img {
    margin-right: 10px;
  }
  #maincont {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* profile css  end */


  /*footer css */

  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(116, 116, 241);
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
  }
  
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    /* margin: 0 auto; */
    background-image: linear-gradient(to bottom right, #5447e2c5,#1608b4c5);
  }
  
  .footer-items h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
  }
  
  .footer-items ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .footer-items li a {
    color: #ddd;
    font-size: 0.875rem;
  }

  .footer-items li {
    color: #ddd;
    font-size: 0.875rem;
  }
  
  .footer-items li a:hover {
    text-decoration: underline;
  }


i {
    margin-top: 10px;
    padding-right: 15px;
    font-size: 20px;
}

.flex-box{
    display:flex;
    background-image: linear-gradient(to bottom right,white,rgb(108, 108, 211));
}
.social-media{
    display: flex;
    padding-left: 1rem;
}
.flex-box li{
    list-style: none;
    padding-right:10px ;
}

.copyrights-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col{
    display:flex;
}
.col ul{
    padding-left: 0;
}
.follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*footer css end */


/*our schemes css */
.flex-container {
    display: flex;
    background-color: white;
  }
  

  .flex-container > div {
    
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 10px;
    
  }
  
  .card{
    margin-bottom: 20px;
  }
  .card:hover {
    transform: translate(4px, -4px);
    box-shadow: rgba(16, 16, 230, 0.626) -8px 8px 0px;
  }
  .cardButton{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .block .row>*{
    padding-right: 0%;
    padding-left: 0%;
  }
  .choose{
    background-color: #ccccccc3;
    border: 1px solid rgb(179, 172, 172);
  }
  .invest{
    background-color: rgba(232, 178, 206, 0.619);
    border: 1px solid rgb(179, 172, 172);
  }
  .y{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .zi{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }
 .small{
  font-size: 9px;
  
 }
  .decoration{
    list-style: none;
  }

  #annualised{
    
  }

  #percentage{
    font-weight: bold;
    font-size: 30px;
  }
  /*our schemes css end */


  /* new add */
  #cardtextbold{
    font-weight: 900;
  }